@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Itim', cursive;
}
.main{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: linear-gradient(to right, #9c27b0, #8ecdff)
}
nav{
	position: sticky;
	margin: 15px auto;
	z-index: 1;
	display: flex;
	align-items: center;
}
.logo{
    flex-basis:50%;
    display: flex; /* Thêm dòng này để sử dụng flexbox */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.logo img{
    width: 100px;
    margin-right: 10px; /* Khoảng cách giữa hình ảnh và văn bản */
}
.nav-links{
	/* flex: 1;
	text-align: right; 
	right: 50%; */
	flex: 1;
    text-align: right; /* Căn chỉnh văn bản sang phải */
}
.nav-links ul{
	list-style: none;
    padding: 0;
    margin: 0;
}
.nav-links ul li{
	/* list-style: none;
	display: inline-block;
	margin: 0 60px;
	margin-left: 60px; */
	display: inline-block; /* Hiển thị các mục menu theo hàng ngang */
    margin-left: 20px; /* Khoảng cách giữa các mục menu */
}
.nav-links ul li:first-child{
	margin-left: 0; /* Không margin-left cho phần tử đầu tiên */
}
.nav-links ul li a{
	color: #fff;
	text-decoration: none;
}
.information{
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 50%;
	left: -10%;
	transform: translateY(-50%);
}
.PA820{
	width: 250px;
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translateY(-50%);
	z-index: 1;
	border-radius: 20px;
}
#circle{
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	transform: rotate(0deg);
	transition: 1s;
	z-index: -1;
}
.feature img{
	width: 70px;
}
.feature{
	position: absolute;
	display: flex;
	color: #fff;
}
.feature div{
	margin-left: 30px;
}
.feature div p{
	margin-top: 8px;
}
.one{
	top: 450px;
	right: 50px;
}
.two{
	top: 150px;
	left: 300px;
	transform: rotate(-90deg);
}
.three{
	bottom: 450px;
	left: -50px;
	transform: rotate(-180deg);
}
.four{
	bottom: 30px;
	left: 230px;
	transform: rotate(-270deg);
}
.mobile{
	width: 200px;
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translateY(-50%);
	z-index: 1;
}
.controls{
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
.controls h3{
	margin: 15px 0;
	color: #fff;
}
#upBtn{
	width: 15px;
	cursor: pointer;
}
#downBtn{
	width: 15px;
	cursor: pointer;
	transform: rotate(180deg);
}
.overlay{
	width: 0;
	height: 0;
	border-top: 500px solid #7caaff;
	border-right: 500px solid transparent;
	border-bottom: 500px solid #7caaff;
	border-left: 500px solid #7caaff;
	position: absolute;
	left: 0;
	top: 0;
}

